https://github.com/thiagopena/geraldo/archive/master.zip
https://github.com/thiagopena/PySIGNFe/archive/master.zip
asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
cryptography==2.7
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.4
eight==0.4.2
future==0.16.0
gunicorn==19.9.0
lxml==4.2.6
Pillow==6.1.0
psycopg2==2.8.3
pycparser==2.19
pyOpenSSL==17.5.0
python-decouple==3.1
pytz==2018.3
reportlab==3.4.0
signxml==2.5.2
six==1.11.0
sqlparse==0.3.0
